.app__cities,.app__filter__cities {
    padding: 2rem;
    &__container-card{
        width: 15vw;
    }

    @media screen and (max-width: 768px) {
        padding: 1rem;
        &__container-card{
            width: 10rem;
        }  
    }
    }