@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a; /* Colore del testo scuro per lo sfondo bianco */
  background-color: #ffffff; /* Sfondo bianco */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #3b82f6; /* Blu più vivido per i link */
  text-decoration: inherit;
}
a:hover {
  color: #2563eb; /* Blu più scuro per il hover */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3b82f6; /* Colore di default blu */
  color: white; /* Testo bianco */
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #2563eb; /* Hover blu più scuro */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1a1a1a;
    background-color: #ffffff;
  }
}
